services:
  firebase:
    image: node:20-bookworm
    working_dir: /firebase
    volumes:
      - ./firebase:/firebase
      - ./firebase-data:/firebase/firebase-data
    env_file:
      - .env.development
    ports:
      - "4000:4000" # Emulator UI
      - "8080:8080" # Firestore
      - "9099:9099" # Auth
    command: >
      sh -c "apt-get update &&
      apt-get install -y default-jre &&
      npm install -g firebase-tools &&
      firebase emulators:start --only firestore,auth --project $$VITE_PROJECT_ID --import=/firebase/firebase-data --export-on-exit=/firebase/firebase-data --config /firebase/firebase.json"
